
.container{
    display: grid;
    background-color: black;
    height: 100vh;
    grid-template-columns: 100px 100px 100px 100px;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    
    
   
}

.item{
   
    color: white;
    font-size: 50px;
    font-weight: bolder;
    padding: 10px;
    margin: 20px;


}
#hour{
    padding-left: 20px;
}
#ending{
    color: white;
    text-align: center;
    grid-column: 1/span 4;
}